ul.menuDesplegable{
    border: 1px black solid;
    white-space: nowrap;
}
ul.menuDesplegable, ul.menuDesplegable li {
    display: inline-flex;
    justify-content: space-around; /*x*/
}
ul.menuDesplegable, ul.menuDesplegable li ul {
    display: block;
}
td {
	border: 1px solid black;
}