ul.menuDesplegable{
    border: 1px black solid;
    white-space: nowrap;
}
ul.menuDesplegable, ul.menuDesplegable li {
    display: inline-flex;
    align-items: center; /*y*/
    justify-content: center; /*x*/
}
table,td {
	border: 1px solid black;
}